:root {
    --vermelho: #e50914;
    --preto:  #141414;
    --font-principal: 'Open Sans', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos base*/
body {
    background-color: var(--preto);
    font-family: var(--font-principal);
    color: #fff;
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
}

.logo {
    margin-left: 1em;
}

.container .logo img {
    width: 150px;
}

header nav {
    margin-right: 1em;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

/*Filme principal*/

main {
    display: flex;
    justify-content: flex-end;
}

.filme-principal {
    font-size: 16px;
    background: linear-gradient(to left, rgba(0,0,0,.30),rgba(0,0,0,1)), url(/img/soa-capa.jpg);
    background-position: top;
    background-attachment: fixed;
    height: 400px;
    width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.rate {
    display: flex;
    margin-top: -35px;
    margin-bottom: 20px;
    align-items: center;
}

.rate div i {
    color: #e50914;
    cursor: pointer;
}

.rate div i:last-child {
    color: rgb(228, 228, 228);
}

.rate div p {
    color: #AAA;
    margin: 0 .7em;
}

.rate #classificacao {
    background-color: rgba(170,170,170,.50);
    padding: .1em .5em;
    color: rgb(170, 170, 170);
    border-radius: 5px;
    font-size: .8em;
    font-weight: 700;
}

.rate div #hd {
    background-color: #AAA;
    color: rgba(0,0,0,.50);
    border-radius: 5px;
    font-size: .8em;
    font-weight: 700;
    padding: .1em .5em;
}

.filme-principal .descricao {
    margin-bottom: 40px;
    width: 35vw;
}

.titulo img{
    width: 400px;
}

.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    padding: 15px 30px;
    color: #fff;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: #fff;
    color: black;
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 2vw;
}

.filme-principal .container {
    width: 60%;
}

.box-filme {
    height: 70%;
    display: block;
    border-radius: 5px;
}

.container-titulo-galeria {
    display: flex;
    width: 95vw;
    padding-left: 2vw;
    margin-bottom: 1em;
}

.container-titulo-galeria .titulo-galeria {
    font-size: 1.3em;
    font-weight: 400;
}

.carrosel-filmes {
    margin-top: 5px;
}

.item {
    cursor: pointer;
    transition: 1s ease all;
}

.item i {
    position: absolute;
    margin-left: 40%;
    margin-top: 50%;
    font-size: 5em;
    transition: 2s ease all;
}


